---
import animationGIF from "../../assets/images/features/animation.gif";
import contactImage from "../../assets/images/features/contact.jpg";
import mapImage from "../../assets/images/features/map.png";
import languageImage from "../../assets/images/features/language.webp";
import livechatImage from "../../assets/images/features/livechat.png";
import darkmodeImage from "../../assets/images/features/darkmode.jpg";

import FeatureCard from "../../components/Cards/FeatureCard.astro";
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar";
import Layout from "../../layouts/Layout.astro";
import FeaturesOverview from "../../sections/Features/FeaturesOverview.astro";
import FeatureTitle from "../../sections/Features/FeatureTitle.astro";

import {
  getLangFromUrl,
  languages,
  useTranslations,
} from "../../i18n/translations";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const features = [
  {
    id: "contactForm",
    image: contactImage,
    position: "left",
  },
  {
    id: "mapView",
    image: mapImage,
    position: "right",
  },
  {
    id: "loading",
    image: animationGIF,
    position: "left",
  },
  {
    id: "multilingual",
    image: languageImage,
    position: "right",
  },
  {
    id: "liveChat",
    image: livechatImage,
    position: "left",
  },
  {
    id: "darkMode",
    image: darkmodeImage,
    position: "right",
  },
];
---

<Layout
  title={t("features.page.title") as string}
  description={t("features.page.description") as string}
  image="/workinweb_logo.jpeg"
>
  <Navbar client:only="react" />

  <main class="sm:pt-4">
    <section class="relative py-20 overflow-hidden">
      <FeatureTitle />

      <div class="relative max-w-7xl mx-auto px-4">
        <FeaturesOverview />

        <div class="mt-8 space-y-8">
          {
            features.map((feature) => (
              <FeatureCard
                title={t(`features.card.${feature.id}.title`) as string}
                description={
                  t(`features.card.${feature.id}.description`) as string
                }
                subtitle={t(`features.card.${feature.id}.subtitle`) as string}
                list={
                  t(`features.card.${feature.id}.features`) as Array<string>
                }
                img={feature.image}
                position={feature.position as "left" | "right"}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<Footer />
