---
import { Image } from "astro:assets";
import Footer from "../../../components/Footer.astro";
import Navbar from "../../../components/Navbar";
import {
  getLangFromUrl,
  languages,
  useTranslations,
} from "../../../i18n/translations";
import Layout from "../../../layouts/Layout.astro";
import { getLatestPosts } from "../../../lib/wp";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getLatestPosts({ perPage: 10 });
---

<Layout
  title={t("blog.page.title") as string}
  description={t("blog.page.description") as string}
  image="/logo/logo_notext.svg"
>
  <Navbar client:only="react" />

  <main class="max-w-7xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold text-center mb-12 mt-20">
      {t("blog.title")}
    </h1>

    <div class="space-y-8">
      {
        posts.map((post) => (
          <a href={`/${lang}/blog/posts/${post.slug}`} class="group">
            <article class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-[1.02] flex">
              <div class="w-1/3 aspect-[4/3] overflow-hidden">
                <Image
                  src={post.featuredImage}
                  alt={post.title}
                  width={1024}
                  height={1024}
                  class="w-full h-full object-cover"
                  transition:name={`${post.featuredImage}`}
                />
              </div>
              <div class="w-2/3 p-8">
                <h2 class="text-2xl font-semibold group-hover:text-blue-600 dark:group-hover:text-blue-400 line-clamp-2">
                  {post.title}
                </h2>

                <time class="text-sm text-gray-500 dark:text-gray-400 block mt-2">
                  {new Date(post.date).toLocaleDateString()}
                </time>

                <div set:html={post.excerpt} class="line-clamp-3 mt-4" />
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<Footer />
